 <!-- level 01 -->
  <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel *ngFor="let panel of accordions" cdkDrag
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
         <mat-panel-title>{{ panel.title }}</mat-panel-title>
        <mat-panel-description>{{ panel.description }}</mat-panel-description>
      </mat-expansion-panel-header>
      
      <ng-container *ngIf="panel.subAccordion">

        <mat-accordion>
          <mat-expansion-panel *ngFor="let subpanel of panel.subAccordion"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>{{ subpanel.title }}</mat-panel-title>
              <mat-panel-description>{{ subpanel.description }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{ subpanel.content }}</p>
          </mat-expansion-panel>
        </mat-accordion>

      </ng-container>

    </mat-expansion-panel>

  </mat-accordion>